body {
    background-color: rgb(120, 120, 120)  !important;
}

h1 {
    margin: 1rem !important;
}

.header-positive {
    color: rgb(170, 212, 140) !important;
}

.header-negative {
    color: rgb(240, 180, 40) !important;
}

.navbar {
    background-color: black !important;
}

.navbar-brand {
    color: rgb(240, 180, 40) !important;
}

.navbar-brand:hover {
    color: white !important;
}

.btn-block {
    background-color: rgb(170, 212, 140) !important;
    color: white !important;
    box-shadow: black !important;
    margin: 1rem !important;
}

.btn-block:hover {
    background-color: rgb(80, 160, 15) !important;
    color: white !important;
    box-shadow: black !important;
}

.card {
    margin: 1rem !important;
    background-color: rgb(255, 240, 215) !important;
}

.modal-title {
    color: rgb(240, 180, 40) !important;
}

.modal-header {
    background-color: rgb(120, 120, 120) !important;
}

.modal-body {
    background-color: rgb(231, 231, 231) !important;
}

.modal-footer {
    background-color: rgb(120, 120, 120)  !important;
}

.btn-secondary {
    background-color: rgb(255, 150, 150);
}

.btn-primary {
    background-color: rgb(80, 160, 15) !important;
}
